@model IEnumerable<Notes.Models.Note>

@{
    ViewBag.Title = "Notes";
}
<h2>Notes</h2>

@foreach (var note in Model)
    {
        <div class="jumbotron">
            <h1 class="display-4"> @note.title</h1>
            <p>  @("----"+note.body)</p>
           
            <br>
            <a href="@Url.Action("Edit","Home",new{ id = note.id})" class="btn btn-secondary">Edit</a>
            <a href="@Url.Action("Delete","Home",new{ id = note.id})" class="btn btn-danger">Delete</a>
        </div>
    }
